---
export interface Props {
  px?: string
  py?: string
  border?: boolean
}

const { px = '1rem', py = '1rem', border = false } = Astro.props
---

<div class="container-section" style={border ? 'border: 1px solid var(--border)' : undefined}>
  <div class="container-wrapper">
    <div
      class="container"
      style={`padding-left: ${px}; padding-right: ${px}; padding-top: ${py}; padding-bottom: ${py};`}
    >
      <slot />
    </div>
  </div>
</div>
