---
import config from 'virtual:starlight/user-config'
import Search from './Search.astro'
import SocialIcons from './SocialIcons.astro'
import LanguageSelect from '@astrojs/starlight/components/LanguageSelect.astro'

import ThemeSelect from './ThemeSelect.astro'
import SiteTitle from './SiteTitle.astro'
import NavBar from '../components/NavBar.astro'
import MobileMenuToggle from './MobileMenuToggle.astro'

/**
 * Render the `Search` component if Pagefind is enabled or the default search component has been overridden.
 */
const shouldRenderSearch = config.pagefind || config.components.Search !== '@astrojs/starlight/components/Search.astro'
---

<div class="site-title-wrapper">
  <SiteTitle />
  <NavBar />
</div>

<MobileMenuToggle />

<div class="header-right">
  {shouldRenderSearch && <Search />}

  <nav class="header-nav">
    <div>
      <SocialIcons />
    </div>
    <div>
      <ThemeSelect />
    </div>
    <div>
      <LanguageSelect />
    </div>
  </nav>
</div>

<style>
  .site-title-wrapper {
    display: none;
    margin-right: 1rem;
  }
  @media (min-width: 768px) {
    .site-title-wrapper {
      display: flex;
    }
  }

  .header-right {
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 0;
    display: flex;
  }

  @media (min-width: 768px) {
    .header-right {
      justify-content: flex-end;
    }
  }

  .header-nav {
    gap: 0.125rem;
    align-items: center;
    display: flex;
  }
</style>
