<button class="show-modal" popovertargetaction="toggle" popovertarget="drawer">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5"></path>
  </svg>
  <span class="sr-only">Toggle Menu</span>
</button>

<style>
  button {
    all: unset;

    display: inline-flex;
    margin-right: 0.5rem;
    margin-left: -0.5rem;
    height: 2rem;
    width: 2rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  @media (min-width: 768px) {
    button {
      display: none;
    }
  }

  button > svg {
    width: 1.5rem;
    height: 1.5rem;
  }
</style>
