---
import TableOfContents from './TableOfContents.astro'
---

{
  Astro.locals.starlightRoute.toc && (
    <div>
      <TableOfContents />
    </div>
  )
}

<style>
  div {
    padding-top: 1rem;
    height: calc(100vh - 3.5rem);
    margin-top: -1.5rem;
    top: 5rem;
    position: sticky;
  }
</style>
