---
const { toc } = Astro.locals.starlightRoute
---

{!toc && <slot />}

{
  toc && (
    <main class="container-main">
      <div class="main">
        <slot />
      </div>

      <div class="toc">
        <slot name="right-sidebar" />
      </div>
    </main>
  )
}

<style>
  .container-main {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    position: relative;
  }

  @media (min-width: 1280px) {
    .container-main {
      grid-template-columns: 1fr 300px;
      display: grid;
    }
  }

  @media (min-width: 1024px) {
    .container-main {
      padding-top: 2rem;
      padding-bottom: 2rem;
      gap: 2.5rem;
    }
  }

  .main {
    max-width: 42rem;
    min-width: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .toc {
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: none;
  }

  @media (min-width: 1280px) {
    .toc {
      display: block;
    }
  }
</style>
