<div>
  <slot />
</div>

<style>
  div {
    gap: 1rem;
    display: grid;
    margin-top: 2rem;
  }

  @media (min-width: 640px) {
    div {
      gap: 1.5rem;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
</style>
