---
import type { HTMLAttributes } from 'astro/types'

interface Props extends Omit<HTMLAttributes<'a'>, 'href'> {
  href: string | URL
}
---

<a {...Astro.props}>
  <slot />
</a>

<style>
  a {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
    color: var(--card-foreground);
    padding: 1.5rem;
    background-color: var(--card);
    border-width: 1px;
    border-radius: calc(var(--radius) + 4px);
    border-style: solid;
    align-items: center;
    flex-direction: column;
    width: 100%;
    display: flex;
    text-decoration: inherit;
  }

  a:hover {
    background-color: color-mix(in oklab, var(--muted) 50%, transparent);
  }

  @media (min-width: 640px) {
    a {
      padding: 2.5rem;
    }
  }
</style>
