<div class="steps">
  <slot />
</div>

<style is:global>
  .steps {
    counter-reset: step;
    padding-left: 2rem;
    border-left-width: 1px;
    margin-left: 1rem;
    margin-bottom: 3rem;
    border-left-style: solid;
  }

  .steps > h3 {
    counter-increment: step;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    letter-spacing: -0.025em;
    scroll-margin: 5rem;
  }

  .steps > h3::before {
    position: absolute;
    display: inline-flex;
    height: 2.25rem;
    width: 2.25rem;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border-width: 4px;
    border-color: var(--background);
    background-color: var(--muted);
    text-align: center;
    text-indent: -1px;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    margin-left: -50px;
    margin-top: -4px;
    content: counter(step);
  }
</style>
